In [5]:
import pandas as pd
df = pd.read_csv("ckg.csv")

c:\users\sitas\ckg_env\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (1,2,3,4,5,7,8,11,12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
df

,_id,_labels,accession,id,name,synonyms,taxid,type,unique,_start,_end,_type,source
0,1751704.0,:Peptide,NaN,IVETEAYLGPEDEAAHSRGGR,NaN,NaN,NaN,tryptic peptide,False,NaN,NaN,NaN,NaN
1,1203198.0,:Peptide,NaN,VAEQDTQA,NaN,NaN,NaN,tryptic peptide,False,NaN,NaN,NaN,NaN
2,1788529.0,:Peptide,NaN,GSPWVSVVDRVAEQDTQA,NaN,NaN,NaN,tryptic peptide,False,NaN,NaN,NaN,NaN
3,1436933.0,:Peptide,NaN,LCQALAINK,NaN,NaN,NaN,tryptic peptide,False,NaN,NaN,NaN,NaN
4,1865461.0,:Peptide,NaN,VGVGHAGEWAR,NaN,NaN,NaN,tryptic peptide,False,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3894160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1843263.0,879964.0,BELONGS_TO_PROTEIN,UniProt
3894161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1115683.0,845252.0,BELONGS_TO_PROTEIN,UniProt
3894162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1537856.0,838173.0,BELONGS_TO_PROTEIN,UniProt
3894163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1534744.0,859547.0,BELONGS_TO_PROTEIN,UniProt
3894164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1092110.0,908102.0,BELONGS_TO_PROTEIN,UniProt

In [7]:
df.isnull().sum()

_id          2980565
_labels      2980565
accession    3811875
id           2980565
name         3812083
synonyms     3811875
taxid        3811875
type         3062855
unique       3062855
_start        913600
_end          913600
_type         913600
source        913600
dtype: int64

In [8]:
df1 = df.dropna()

In [9]:
df1.to_csv("ckg_sample.csv")

In [10]:
df1

Empty DataFrame
Columns: [_id, _labels, accession, id, name, synonyms, taxid, type, unique, _start, _end, _type, source]
Index: []